* { 
    margin: 0;
    padding: 0;
  }
  img { 
    border: 0;
  }
  body { 
    font: normal .80em arial, sans-serif;
    background: rgb(216, 149, 149);
    color: rgb(255, 254, 254);
    
    padding: 5%;
    
  }
 p {
   color: aliceblue;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 3%;
 }

 .ustbilgi{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
 }

 .img{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  float: left;
 
 }
 .tarif{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  float: left;
 }
 .hazirlanis{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  float: left;
 }


 
  header { 
    background: transparent;
    height: 179%;}